<div class="container">
    <div class="container overflow">
        <div class="oscuro">
            <img src="./assets/img/quienes-somos.webp" class="card-img-top" alt="imagen quienes somos">
        </div>
        <div class="centrado"><p>¿Quiénes somos?<p></div>
    </div>

    <div class="container row mt-4 mb-4">
        <div class="mt-4 parrafo col">
            <h2 class="text-center lead">Nuestra Historia</h2>
            <p class="lead mb-4">Electricidad Montenegro es una empresa familiar creada en Bullas, Murcia. Comenzamos haciendo instalaciones en viviendas y peuqeños negocios
                y locales comerciales. Pronto comenzamos a realizar trabajos como subcontrata para grandes empresas del sector, empresas que
            depositan su confianza en nosotros gracias al trabajo bien hecho. 
            </p>
            <p class="lead mb-4">Profesionalidad, cercanía, seriedad, son algunos de los adjetivos que nos definen como empresa. Con más de 15 años de experiencia
                en el sector de las instalaciones eléctricas nos hemos convertido en una de las empresas que más subcontrataciones y proyectos recibe
                de la Región de Murcia.
            </p>
            <p class="lead mb-4">
                Contamos con una gran plantilla de profesionles del sector altamente capacitados y cualificados. Cada empleado de Electricidad Montenegro
                nos ayuda a seguir creciendo y ayuda a nuestros clientes a seguir confiando en nosotros.
            </p>
        </div>
        <div class="col">
            <img src="./assets/img/team.svg" class="card-img-top" alt="imagen equipo">
        </div>
    </div>    

    <div>
        <div class="row">
            <h2 class="lead">Algunos clientes que han confiado en nosotros</h2>
        </div>
        <div class="row">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active tamano">
                    <img src="./assets/img/clientes1.png" class="d-block w-100" alt="clientes 1">
                  </div>
                  <div class="carousel-item tamano">
                    <img src="./assets/img/clientes2.png" class="d-block w-100" alt="clientes 2">
                  </div>
                </div>
            </div>
        </div>
    </div>

</div> 

<app-contacta></app-contacta>
