<div class="jumbotron mt-4 mb-4">
    <h1 class="display-4">Ver solicitudes de empresas</h1>
    <hr class="my-4">
    <button class="btn btn-info btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmpresa" aria-expanded="false" aria-controls="collapseExample">
      Ver empresas
    </button>
    <div class="collapse mt-2" id="collapseEmpresa">
      <div class="card card-body">
        <app-empresas></app-empresas>
      </div>
    </div>
  </div>

<div class="m-3">&nbsp;</div>

  <div class="jumbotron mt-4 mb-4">
    <h1 class="display-4">Ver solicitudes de empleados</h1>
    <hr class="my-4">
    <button class="btn btn-info btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAplicante" aria-expanded="false" aria-controls="collapseExample">
      Ver aplicantes
    </button>
    <div class="collapse mt-2" id="collapseAplicante">
      <div class="card card-body">
        <app-aplicantes></app-aplicantes>
      </div>
    </div>
  </div>