<div>
    <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="button" [routerLink]="['/obras/form']" class="btn btn-primary">Crear nueva obra</button>
</div>

<div class="card border-dark mb-3">
    <div class="card-header">Obras</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Listado de obras</h5>
    </div>
    
    <table class="table table-bordered table-striped" *ngIf="obras?.length>0">
        <thead>
            <tr>
                <th *ngIf="authService.isAuthenticated()">Id</th>
                <th>Denominación</th>
                <th>Dirección</th>
                <th>Ciudad</th> 
                <th *ngIf="authService.isAuthenticated()" >Enargado</th>
                <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obra of obras">
                <td *ngIf="authService.isAuthenticated()">{{ obra.id }}</td>
                <td>{{ obra.denominacion }}</td>
                <td>{{ obra.direccion }}</td>
                <td>{{ obra.ciudad }}</td>
                <td *ngIf="authService.isAuthenticated()" >ID: {{ obra.encargado.id }}, {{ obra.encargado.nombre }} {{ obra.encargado.apellido }}</td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                    <button type="button" name="editar" [routerLink]="['/obras/form', obra.id]" class="btn btn-primary">editar</button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                    <button type="button" name="eliminar" (click)='delete(obra)' class="btn btn-danger ntn-sm">eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>



  </div>