<div class="alert alert-danger" *ngIf="errores?.length > 0">
    <ul>
        <li *ngFor="let error of errores">
            {{ error }}
        </li>
    </ul>
</div>
<div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">

        <form (ngSubmit)="create()">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)] ="empresa.nombre" name="nombre" > 
                </div>
            </div> 
            
            <div class="form-group row">
                <label for="cif" class="col-form-label col-sm-2">CIF</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)] ="empresa.cif" name="cif" > 
                </div>
            </div>     

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)] ="empresa.email" name="email" > 
                </div>
            </div>     

            <div class="form-group row">
                <label for="text" class="col-form-label col-sm-2">Comentario</label>
                <div class="col-sm-6">
                    <textarea type="text" class="form-control" [(ngModel)] ="empresa.text" name="text" ></textarea>
                </div>
            </div>   
            
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">Enviar</button>
                </div>
            </div>


        </form>

    </div>
</div>