<perfil-empleado *ngIf ="empleadoSeleccionado"  [empleado] = "empleadoSeleccionado"></perfil-empleado>
<div>
    <button *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_ENCARGADO')" 
    type="button" name="button" [routerLink]="['/empleados/form']" class="btn btn-primary">Crear nuevo empleado</button>
</div>

<div class="card border-dark mb-3">
    <div class="card-header">Empleados</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Listado de empleados</h5>
    </div>

    <table class="table table-bordered table-striped" *ngIf="empleados?.length>0">
        <thead>
            <tr>
                <th>Perfil</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Fecha de contratación</th>
                <th *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_ENCARGADO')">editar</th>
                <th *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_ENCARGADO')">eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados">
                <td><img (click)="abrirModal(empleado)" *ngIf="empleado?.foto" 
                    src="http://localhost:8080/api/uploads/img/empleado/{{empleado.foto}}" alt="{{empleado.foto}}" class="img-thumbnail rounded"
                    style="width:64px; cursor: pointer;">

                    <img (click)="abrirModal(empleado)" *ngIf="!empleado?.foto" 
                    src="http://localhost:8080/images/no-usuario.png" alt="Sin foto" class="img-thumbnail rounded"
                    style="width:64px; cursor: pointer;">
                </td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.dni }}</td>
                <td>{{ empleado.contratacion }}</td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_ENCARGADO')">
                    <button type="button" name="editar" [routerLink]="['/empleados/form', empleado.id]" class="btn btn-primary">editar</button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_ENCARGADO')">
                    <button type="button" name="eliminar" (click)='delete(empleado)' class="btn btn-danger ntn-sm">eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>



  </div>